<head>
    {{>header}}
</head>

<body>
    <form method="post">
        <label for="brand">Item Brand: </label><br>
        <input type="text" id="brand" name="brand"><br>
        <label for="type">Type: </label><br>
        <input type="text" id="type" name="type"><br>
        <label for="colour">Colour: </label><br>
        <input type="text" id="colour" name="colour"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>